<div class="row">
  <div class="col-lg-12">
    <h1>{{title}}</h1>
  </div>

  <div class="col-lg-6">
    <div class="alert alert-success" *ngIf="status == 'success'">
      User data updated successfully
    </div>
    <div class="alert alert-danger" *ngIf="status == 'fail'">
      Error: User data not updated
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <p>
        <label>Name</label>
        <input type="text" placeholder="Name" formControlName="name" class="form-control">
        <span *ngIf="profileForm.controls.name.errors && profileForm.controls.name.errors.required && isFormSubmitted"
          class="text-danger">The name is required</span>
      </p>
      <p>
        <label>Last Name</label>
        <input type="text" placeholder="Last Name" formControlName="lastName" class="form-control">
        <span
          *ngIf="profileForm.controls.lastName.errors && profileForm.controls.lastName.errors.required && isFormSubmitted"
          class="text-danger">The Last Name is required</span>
      </p>
      <p>
        <label>Email</label>
        <input type="email" placeholder="Email" formControlName="email" class="form-control" autocomplete="off">
        <span *ngIf="profileForm.controls.email.errors && profileForm.controls.email.errors.required && isFormSubmitted"
          class="text-danger">The Email is required</span>
        <span *ngIf="profileForm.controls.email.errors && profileForm.controls.email.errors.email && isFormSubmitted"
          class="text-danger">The Email is invalid</span>
      </p>
      <div class="image-container" *ngIf="urlImage">
        <img class="image-for-edit" src="{{ urlImage }}"/>
      </div>
      <div class="image-container" *ngIf="!urlImage">
          <img class="image-for-edit" src="../../assets/images/user.png"/>
      </div>
      <p>
        <label>Upload your Image</label>
        <input type="file" placeholder="Image" formControlName="image" class="form-control" (change)="fileChangeEvent($event)">
      </p>
      <input type="submit" value="Update" class="btn btn-primary"
        [disabled]="profileForm.invalid && !profileForm.dirty">
    </form>
  </div>
</div>