.navbar-default .navbar-nav {
  li {
    a {
      border-bottom: 3px solid transparent;
    }
    a:hover {
      transition:all 300ms;
      border-bottom: 3px solid yellowgreen;
    }

    .active {
      border-bottom: 3px solid orange;
    }
  }

  .btn-profile {
    background-color:transparent;
    margin-top: 7px;
  }

  .dropdown-menu {
    min-width: auto;
  }

  .avatar {
    width: 30px;
    overflow: hidden;
    border-radius: 50%;
  }
}